# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
ShoppingCart.iml
/src/main/webapp/node_modules/
src/main/webapp/node_modules/
src/test/java/
src/test/karma/node_modules/.bin/
src/test/karma/node_modules/jasmine-core/
src/test/karma/node_modules/karma-chrome-launcher/
src/test/karma/node_modules/karma-jasmine/
src/test/karma/node_modules/karma/bin/
src/test/karma/node_modules/karma/lib/
src/test/karma/node_modules/karma/node_modules/.bin/
src/test/karma/node_modules/karma/node_modules/batch/
src/test/karma/node_modules/karma/node_modules/body-parser/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/anymatch/node_modules/micromatch/node_modules/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/async-each/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/glob-parent/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/inherits/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/is-binary-path/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/path-is-absolute/
src/test/karma/node_modules/karma/node_modules/chokidar/node_modules/readdirp/
src/test/karma/node_modules/karma/node_modules/colors/
src/test/karma/node_modules/karma/node_modules/connect/
src/test/karma/node_modules/karma/node_modules/core-js/build/
src/test/karma/node_modules/karma/node_modules/core-js/client/
src/test/karma/node_modules/karma/node_modules/core-js/core/
src/test/karma/node_modules/karma/node_modules/core-js/es5/
src/test/karma/node_modules/karma/node_modules/core-js/es6/
src/test/karma/node_modules/karma/node_modules/core-js/es7/
src/test/karma/node_modules/karma/node_modules/core-js/fn/
src/test/karma/node_modules/karma/node_modules/core-js/library/core/
src/test/karma/node_modules/karma/node_modules/core-js/library/es5/
src/test/karma/node_modules/karma/node_modules/core-js/library/es6/
src/test/karma/node_modules/karma/node_modules/core-js/library/es7/
src/test/karma/node_modules/karma/node_modules/core-js/library/fn/
src/test/karma/node_modules/karma/node_modules/core-js/library/stage/
src/test/karma/node_modules/karma/node_modules/core-js/library/web/
src/test/karma/node_modules/karma/node_modules/core-js/stage/
src/test/karma/node_modules/karma/node_modules/core-js/web/
src/test/karma/node_modules/karma/node_modules/di/
src/test/karma/node_modules/karma/node_modules/dom-serialize/
src/test/karma/node_modules/karma/node_modules/expand-braces/
src/test/karma/node_modules/karma/node_modules/glob/
src/test/karma/node_modules/karma/node_modules/graceful-fs/
src/test/karma/node_modules/karma/node_modules/http-proxy/
src/test/karma/node_modules/karma/node_modules/isbinaryfile/
src/test/karma/node_modules/karma/node_modules/lodash/
src/test/karma/node_modules/karma/node_modules/log4js/
src/test/karma/node_modules/karma/node_modules/mime/
src/test/karma/node_modules/karma/node_modules/minimatch/
src/test/karma/node_modules/karma/node_modules/optimist/
src/test/karma/node_modules/karma/node_modules/rimraf/
src/test/karma/node_modules/karma/node_modules/socket.io/
src/test/karma/node_modules/karma/node_modules/source-map/
src/test/karma/node_modules/karma/node_modules/useragent/
src/test/karma/node_modules/karma/static/
src/test/resources/
target/
