<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Display Products
                <small>Select the Product!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Product Name</li>
            </ol>
        </div>

    </div>

    <div class="row">
        <div ng-controller="productController">
            <ul class="product-list small-block-grid-3">
                <li ng-repeat="product in products">
                    <figure>
                        <img ng-src="{{product.image}}" alt="{{product.name}}">
                        <figcaption>
                            <h3>{{product.name}}, {{product.unitPrice}}$</h3>
                            <button ng-click="addToCart(product);">Add to cart</button>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>