<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>hibernate search | netgloo blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <ol>
    <li th:each="name : ${searchResults}">
      <b><span th:text="${name.name}"></span></b> -
      <span th:text="${name.gender}"></span> -
      <span th:text="${name.year}"></span>
      <span th:text="${name.count}"></span>
    </li>
  </ol>
  
  <p th:if="${searchResults.isEmpty()}">
    <strong>Hint</strong>: the query "<a href='/search?q=amy'>amy</a>" 
    should return some results.
  </p>

</body>

</html>
